@model IEnumerable<WebShop.Models.Product>
<div>
    <div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Ед. измерения</th>
                    <th>Описание</th>
                    <th>Производитель</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@Html.DisplayFor(modelItem => item.Id)</th>
                        <th>@Html.DisplayFor(modelItem => item.ProductName)</th>
                        <th>@Html.DisplayFor(modelItem => item.ProductCost)</th>
                        <th>@Html.DisplayFor(modelItem => item.ProductUnit)</th>
                        <th>@Html.DisplayFor(modelItem => item.ProductDescription)</th>
                        <th>@Html.DisplayFor(modelItem => item.ProductMaufacturer.MaufacturerName)</th>
                        <td>
                            <button class="btn btn-primary edit-btn" onclick="location.href='@Url.Action("AddProduct", "Product", new {id = @item.Id})'">Редактировать</button>
                            <button class="btn btn-danger delete-btn" data-id="@item.Id">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>