@using WebShop.Models
@model WebShop.Models.ProductListViewModel

@{
    ViewData["Title"] = "Продукция";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        function ShowDeleteDialog(e) {
            Swal.fire({
                title: 'Вы уверены?',
                text: "Данные нельзя будет востановить!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Да',
                cancelButtonText: 'Назад',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Product")',
                        type: 'POST',
                        data: { id: e },
                        success: function (data) {
                            if (data.result == true) {
                                Swal.fire({
                                    title: 'Удалено!',
                                    text: 'Данные были удалены.',
                                    icon: 'success',
                                    showConfirmButton: true
                                }).then(function () {
                                    window.location.reload();
                                })
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Ошибка!',
                                'Произошла ошибка при удалении.',
                                'error');
                        }
                    });
                }
            });
        }
    </script>
}

<div class="text-center">
    <h1 class="display-4">Продукция</h1>
</div>

<br/>

<form asp-action="Index">
    <div>
        <label>Название: </label>
        <input asp-for="Name" onchange="this.form.submit()" />

        <label>Производитель: </label>
        <select name="maufacturer" asp-items="Model.Manufactures" onchange="this.form.submit()"></select>
    </div>
</form>

<div>
    <div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">#</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">Название</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.CostSort">Цена</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.UnitSort">Ед. измерения</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.DescriptionSort">Описание</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.MaufacturerSort">Производитель</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.ProductName</th>
                        <th>@item.ProductCost </th>
                        <th>@item.ProductUnit</th>
                        <th><label style="width:300px;word-wrap:break-word">@item.ProductDescription</label></th>
                        <th>@item.ProductMaufacturer.MaufacturerName</th>
                        <td>
                            <a asp-action="AddProduct" asp-controller="Product" asp-route-id="@item.Id">Изменить</a>
                        </td>
                        <td>
                            <button onclick="return ShowDeleteDialog('@item.Id')" class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <a href="Product/AddProduct">
            Добавить продукцию
        </a>
    </div>
</div>