@using WebShop.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Пользователи</p>
</div>

<br/>

<div>
    <div>
        <table class ="table table-stroiped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Телефон</th>
                    <th>Баланс</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.UserSurname</th>
                        <th>@item.UserName </th>
                        <th>@item.UserPantonymic</th>
                        <th>@item.UserLogin</th>
                        <th>@item.UserPassword</th>
                        <th>@item.UserPhoneNumber</th>
                        <th>@item.UserMoney</th>

                        <td>
                            <a asp-action="AddUser" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
                        </td>

                        <td>
                            <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <input type="submit" value="Удалить" />
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div >
        <a href="Home/AddUser">
            Добавить пользователя    
        </a>
    </div>
</div>
