@using WebShop.Models
@model WebShop.Models.UserListViewModel

@{
    ViewData["Title"] = "Пользователи";
}

<div class="text-center">
    <h1 class="display-4">Пользователи</h1>
</div>

<br/>

<form method="get">
    <div>

        <label>Имя: </label>
        <input asp-for="Name" />

        <label>Роль: </label>
        <select name="role" asp-items="Model.Roles"></select>

        <input type="submit" value="Фильтр" />
    </div>
</form>

<div>
    <div>
        <table class ="table table-stroiped">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">#</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.SurnameSort">Фамилия</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">Имя</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.PantonymicSort">Отчество</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.LoginSort">Логин</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.PasswordSort">Пароль</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.PhoneNumberSort">Телефон</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.MoneySort">Баланс</a></th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.RoleSort">Роль</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.UserSurname</th>
                        <th>@item.UserName </th>
                        <th>@item.UserPantonymic</th>
                        <th>@item.UserLogin</th>
                        <th>@item.UserPassword</th>
                        <th>@item.UserPhoneNumber</th>
                        <th>@item.UserMoney</th>
                        <th>@item.UserRole.RoleName</th>
                        <td>
                            <a asp-action="AddUser" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
                        </td>
                        <td>
                            <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <input type="submit" value="Удалить" />
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div >
        <a href="Home/AddUser">
            Добавить пользователя    
        </a>
    </div>
</div>