@model IEnumerable<WebShop.Models.User>
<div>
    <div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Телефон</th>
                    <th>Баланс</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@Html.DisplayFor(modelItem => item.Id)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserSurname)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserName)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserPantonymic)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserLogin)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserPassword)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserPhoneNumber)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserMoney)</th>
                        <th>@Html.DisplayFor(modelItem => item.UserRole.RoleName)</th>
                        <td>
                            <button class="btn btn-primary edit-btn" onclick="location.href='@Url.Action("AddUser", "User", new {id = @item.Id})'">Редактировать</button>
                            <button class="btn btn-danger delete-btn" data-id="@item.Id">Удалить</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>