@using WebShop.Models
@model WebShop.Models.UserListViewModel

@{
    ViewData["Title"] = "Пользователи";
}

<div class="text-center">
    <h1 class="display-4">Пользователи</h1>
</div>

<br />

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        function ShowDeleteDialog(e) {
            Swal.fire({
                title: 'Вы уверены?',
                text: "Данные нельзя будет востановить!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Да',
                cancelButtonText: 'Назад',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "User")',
                        type: 'POST',
                        data: { id: e },
                        success: function (data) {
                            if (data.result == true) {
                                Swal.fire({
                                    title: 'Удалено!',
                                    text: 'Данные были удалены.',
                                    icon: 'success',
                                    showConfirmButton: true
                                }).then(function () {
                                    loadData();
                                })
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Ошибка!',
                                'Произошла ошибка при удалении.',
                                'error');
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            loadData();

            $("#dataContainer").on("click", ".delete-btn", function () {
                var id = $(this).data("id");
                ShowDeleteDialog(id)
            });
        });

        function loadData() {
            $.ajax({
                url: '@Url.Action("GetData", "User")',
                type: 'GET',
                success: function (data) {
                    $('#dataContainer').html(data);
                    $("#searchInput").val("");
                    $("#filtrSelect").prop('selectedIndex',0);
                    $("#sortSelect").prop('selectedIndex',0);
                },
                error: function () {
                    alert('Ошибка при загрузке данных');
                }
            });
        }

        function filtrData() {
            var searchText = $("#searchInput").val();
            var filtrType = $("#filtrSelect").val();
            var sortType = $("#sortSelect").prop('selectedIndex');
            $.ajax({
                url: '@Url.Action("DataSettings", "User")',
                type: 'POST',
                data: { sortType: sortType, filtrType: filtrType, searchText: searchText },
                success: function (data) {
                    $('#dataContainer').html(data);
                },
                error: function () {
                    alert('Ошибка при фильтрации данных');
                }
            });
        }
    </script>
}

<div >
    <label>Поиск: </label>
    <input type="text" id="searchInput" placeholder="Поиск..." onkeyup="filtrData()" />

    <label style ="padding-left:25px">Фильтрация: </label>
    <select name="filtr" onchange="filtrData()" id="filtrSelect">
    @foreach (var item in Model.FiltrList)
    {
        <option value="@item.Id">@item.RoleName</option>
    }
    </select>

    <label style="padding-left:25px">Сортировка: </label>
    <select name="sort" onchange="filtrData()" id="sortSelect">
        @foreach (var item in Model.SortList)
        {
            <option>@item</option>
        }
    </select>

    <a style="padding-left:25px" href="User/AddUser">
        Добавить пользователя
    </a>
</div>

<div id="dataContainer">
    @await Html.PartialAsync("_UserPartial", new List<User>())
</div>

