@model IEnumerable<WebShop.Models.Role>

@{
    ViewData["Title"] = "Роли";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        function ShowDeleteDialog(e) {
            Swal.fire({
                title: 'Вы уверены?',
                text: "Данные нельзя будет востановить!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Да',
                cancelButtonText: 'Назад',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Role")',
                        type: 'POST',
                        data: { id: e }, // Replace with the actual ID of the item to be deleted
                        success: function (data) {
                            if (data.result == "deleted") {
                                Swal.fire({
                                    title: 'Удалено!',
                                    text: 'Данные были удалены.',
                                    icon: 'success',
                                    showConfirmButton: true
                                }).then(function () {
                                    window.location.reload();
                                })
                            }
                            if (data.result == "haveBinds") {
                                Swal.fire
                                    ({
                                        title: 'Внимаие!',
                                        text: 'Данные, которые вы пытайтель удалить имеют связи в ДБ.При удалении выбранных данных так же удалятся данные, которые с ними связаны',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Удалить',
                                        cancelButtonText: 'Не удалять',
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $.ajax
                                                ({
                                                    url: '@Url.Action("Delete", "Role")',
                                                    type: 'POST',
                                                    data: { id: e, deleteBinds: true }, // Replace with the actual ID of the item to be deleted
                                                    success: function (data) {
                                                        if (data.result == "deleted") {
                                                            Swal.fire({
                                                                title: 'Удалено!',
                                                                text: 'Данные были удалены.',
                                                                icon: 'success',
                                                                showConfirmButton: true
                                                            }).then(function () { window.location.reload(); });
                                                        }
                                                    },
                                                    error: function () {
                                                        Swal.fire(
                                                            'Ошибка!',
                                                            'Произошла ошибка при удалении.',
                                                            'error');
                                                    }
                                                });
                                        }
                                    });
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Ошибка!',
                                'Произошла ошибка при удалении.',
                                'error');
                        }
                    });
                }
            });
        }
    </script>
}

<h1>Роли</h1>

<p>
    <a asp-action="Create">Создать новую роль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название роли
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <button onclick="return ShowDeleteDialog('@item.Id')" class="btn btn-danger">Удалить</button>
            </td>
        </tr>
}
    </tbody>
</table>
